/* Adaptive styles */
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.75em;
}

a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

h1 {
  font-size: 1.5em;
  font-size: 4vw;
  line-height: 1.65em;
  letter-spacing: .25rem;
}

h2 {
  font-size: 1.125em;
  font-size: 3vw;
  line-height: 1.65em;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.display {
  font-family: "Alegreya Sans SC", sans-serif;
  text-transform: capitalize;
}

.time {
  font-style: italic;
  padding-right: .25rem;
}

#copyright {
  padding: 1em 0;
  margin: 1em 0;
  text-align: center;
}

/* Theme */
/* Noon.
background: rgba(70, 113, 213, 0.8), or linear-gradient(to bottom, rgba(70, 113, 213, 0.8) 75%, rgba(191, 113, 48, 0.8))
text color: #06266f
secondary text color: #2a4480
header color: #ff9640
link color: #ff9640
hover link color: #ffd300
text shadow color: #2a4480
*/
.noon {
  color: #06266f;
  background: rgba(70, 113, 213, 0.8);
  /* solid-color fallback */
  background: linear-gradient(to bottom, rgba(70, 113, 213, 0.8) 75%, rgba(191, 113, 48, 0.8)) fixed;
}

/* Default link color for "Noon" theme

  <div class="noon">
    <a>Default link</a>
  </div>
  
*/
.noon a {
  color: #ff9640;
}

.noon h1 {
  color: #ff9640;
  text-shadow: 0 2px 2px #2a4480;
}

.noon h2, .noon .time, .noon nav a:visited {
  color: #2a4480;
}

.noon a:hover, .noon nav a:hover {
  color: #ffd300;
}

/* Default is portrait, phone */
/* Landscape on smallest devices */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .grid_6 {
    width: 100%;
  }
}
/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .grid_6 {
    width: 100%;
  }
}
/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  nav {
    float: right;
    min-width: 100%;
  }

  nav li {
    float: left;
    margin-right: 3.3%;
  }

  nav li:after {
    content: ', ';
  }

  nav li:last-of-type:after {
    content: '';
  }

  nav li:last-of-type:before {
    content: 'and ';
    display: inline-block;
    padding-right: 0.25em;
  }

  nav ul {
    margin-top: 5.65em;
  }

  .grid_6 {
    width: 49%;
  }
}
/* Large devices (large desktops, 1200px and up) */
