
$baseFontSize: 16px;
$header1FontSize: 1.5em;
$header2FontSize: 1.125em;

$linkTransitionTime: 0.5s;

$noonBackground: rgba(70, 113, 213, 0.8);
$noonGradient: rgba(70, 113, 213, 0.8);
$noonPrimaryText: #06266f;
$noonSecondaryText: #2a4480;
$noonHeader: #ff9640;
$noonLink: #ff9640;
$noonLinkHover: #ffd300;
$noonTextShadow: #2a4480;

$mainFont: Roboto;
$displayFont: 'Alegreya Sans SC';

$default:                320px;
$tablet:                 768px;
$medium-screen:          992px;
$large-screen:          1200px;
$landscape-phone:        767px;

